*.ipynb_checkpoints
.venv
curator_notes.parquet
.DS_Store
output/
!output/
output/*
!output/llm_labels_goldset_run1.jsonl
!output/llm_labels_goldset_run2.jsonl
!output/llm_labels_goldset_run3.jsonl
!output/cleaned/
output/cleaned/*
!output/cleaned/dicty_gold_llm_public.json
!output/cleaned/articles_all_cleaned_abstract.json
scripts/public/article_fetching/output/
NCBI_API_KEY
dictybase_files/dicty21/dicty21.Data/
tmp/
llama_API_KEY
.jupyter/
.vscode/
.env
indexes/
